body {
	background-color: #f4f7f6;
}

header {
	background-color: #b8cbc2;
	color: #4a3b32;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (min-width: 768px) {
	ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space;
}

p {
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
	font-family: Georgia, serif;
	color: #4a3b32;
}

input[type="text", input[type="email"], input[type="tel], textarea {
	width: 100%;
	padding: 12px;
	margin-top:6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box
}

form {
	mx-width: 600px;
	margin: 0 auto;
}
