<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</Title>
	<link rel="stylesheet" href="style.css">
<head>
<body>
	<header>
		<h1>A Squared Curiosity Club</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/services.html">Services</a></li>
				<li><a href="/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{{content}}
	</main>
<footer>
	<p>Copyright &copy; 2026 A Squared Curiosity Club</p>
</footer>
</body>
<html>
